table {
    width: 100%;
}

th{
  width: 15%;
}

.th2{
  width: 25%;
}

.th3{
  width: 7%;
}

.pointer{
  cursor: pointer;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.examplespacer{
  flex: 1 1 auto;
}