<div class="containertitle">
    <mat-toolbar>
      <span>Editar conocimiento</span>
    </mat-toolbar>
    <mat-card>
      <form ngNativeValidate [formGroup]="form">
        <div *ngFor="let item of table">
          <mat-grid-list cols="4" rowHeight="70px">
            <mat-grid-tile [colspan]="2" [rowspan]="1" >
              <mat-form-field class="ancho">
                <mat-label>Archivo</mat-label>
                <input matInput type="archivo" value="{{item.nameoriginal}}" formControlName="nameoriginal" [(ngModel)]="conocimientoform.nameoriginal" >
              </mat-form-field>
            </mat-grid-tile>
           
            <mat-grid-tile [colspan]="2" [rowspan]="7">
              <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <td>Topicos</td>
                  <tbody>
                      <tr *ngFor="let topc of Topicosseparate; let iControl=index">
                          <td>{{topc.item}}</td>
                          <mat-icon (click)="deletetopico(topc.id,iControl)">delete</mat-icon>
                      </tr>
                      
                  </tbody>
              </div>
            </mat-grid-tile>
  
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field class="ancho">
                <mat-label>Nombre</mat-label>
                <input matInput type="title" value="{{item.title}}" formControlName="title" [(ngModel)]="conocimientoform.title">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field class="ancho">
                <mat-label>Descripción</mat-label>
                <input matInput  type="descripcion" value="{{item.description}}" formControlName="description" [(ngModel)]="conocimientoform.description">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field class="ancho">
                <mat-label>Nivel</mat-label>
                <input matInput  type="number" value="{{item.nivel}}" formControlName="nivel" [(ngModel)]="conocimientoform.nivel">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field class="ancho">
                <mat-label>Granularidad</mat-label>
                <input matInput  type="number" value="{{item.granularidad}}" formControlName="granularidad" [(ngModel)]="conocimientoform.granularidad">
              </mat-form-field>
            </mat-grid-tile>
  
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field style="width: 78%;">
                  <mat-label>Tópicos</mat-label>
                  <input matInput #topicsnames type="tospics" formControlName="topics" [(ngModel)]="topicss.topic">
              </mat-form-field>
              <a class="pointer">
                <mat-icon type="reset" (click)="addtopico()" (click) = "topicsnames.value = ''">add</mat-icon>
              </a>  
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <button mat-raised-button style="margin-right: 20px;" routerLink="/dashboard">Volver</button>
              <button mat-raised-button (click)="EditarConocimiento()"  color="primary">Editar</button> 
            </mat-grid-tile>          
          </mat-grid-list> 
        </div>

      </form>
      
    </mat-card>
</div>




